.button {
  @extend .medium-text, .pointer;
  &__add-to-cart {
    padding: 1rem 5rem;
    font-size: 0.70rem;
    letter-spacing: 0.25rem;
    border-radius: 0.30rem;
  }

  &__checkout {
    padding: 1.8rem 6rem;
    font-size: 0.70rem;
    letter-spacing: 0.25rem;
    border-radius: 0.30rem;
  }
}

.logoContainer {
  width: 13.5rem;
  height: 2rem;
}

.cartIconContainer {
  width: 1.5rem;;
  height: 1.5rem;
}

.cartIconContainer {
  width: 1.87rem;;
  height: 1.87rem;
}

.arrowIconContainer {
  width: 1rem;
  height: 1.8rem;
}

.checkoutFormInput {
  @extend .w-100, .br2, .bg-dark-gray, .pa3, .outline-0, .bn, .mb4, .light-gray, .medium-text, .tracked-mega-1;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @extend .light-gray, .ttu;
  }
}

.checkoutFormInputLabel {
  @extend .medium-text, .dark-gray, .f7, .tracked-mega-1, .ttu, .pb2, .nowrap, .overflow-scroll;
}
