.button {
  @extend .medium-text, .pointer;
  &__add-to-cart {
    padding: 1rem 5rem;
    font-size: 0.70rem;
    letter-spacing: 0.25rem;
    border-radius: 0.30rem;
  }
}

.logoContainer {
  width: 13.5rem;
  height: 2rem;
}

.cartIconContainer {
  width: 1.5rem;;
  height: 1.5rem;
}

.cartIconContainer {
  width: 1.87rem;;
  height: 1.87rem;
}

.checkoutFormInput {
  @extend .w-100, .br3, .bg-light-gray, .pa3, .outline-0, .bn, .mb2;
}
