 #main {
   min-height: calc(100vh - #{$footer-height});
 }

 button {
   outline: none;
 }

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
