$font-roboto: 'Roboto', 'Indie Flower', sans-serif;

.medium-text {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 0.70rem;
  line-height: 0.80rem;
  letter-spacing: 0.13rem;
}
